:root {
  --color-dark: #303841;
  --color-medium-dark: #3A4750;
  --color-accent: #00ADB5;
  --color-light: #EEEEEE;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    font-family: 'Audiowide', sans-serif;
    background-color: var(--color-dark);
    color: var(--color-light);
  }

  section {
    background-color: var(--color-medium-dark);
    padding: 2rem;
    margin-bottom: 2rem;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  a, button {
    color: var(--color-accent);
    transition: 0.3s ease;
  }
  
  a:hover, button:hover {
    color: var(--color-light);
    background-color: var(--color-accent);
  }

  .name-major-container {
    text-align: left;
    font-size: 160%;
    max-height: 300px;
    margin-right: 10rem;
  }

  .profile-name {
    margin-bottom: 16px;
  }

  .profile-major {
    color: var(--color-accent);
  }

  .profile-pic {
    border-radius: 50%;
    border: 5px, solid, var(--color-dark);
    height: 350px;
    width: 350px;
  }

  .welcome-text {
    font-size: 110%;
    margin-right: 5rem;
  }

  .welcome-text h3 {
    color: var(--color-accent);
    margin-bottom: 16px;
  }

  .get-resume {
    background-color: var(--color-accent);
    width: fit-content;
    padding: 1rem;
    border-radius: 25%;
    margin-bottom: 16px;
  }

  .get-resume a {
    background-color: var(--color-accent);
    color: var(--color-light);
  }

  .socials {
    display: flex;
    width: auto;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }

  .social-icon {
    width: 50px;
  }

